﻿@model WebUI.Models.Ausorization.CheckInView

@{
    ViewBag.Title = "CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckIn</h2>
@using (Html.BeginForm("CheckIn", "Account", FormMethod.Post, new { @class = "login-form" }))
{
    <div class="item">
        <span>Login:</span>@Html.TextBox("login", ((@Model != null) ? @Model.Login : ""))
    </div>
    <div class="item">
        <span>Password:</span>@Html.Password("password", "")
    </div>
    <div class="item">
        <span>Name:</span>@Html.TextBox("name", ((@Model != null) ? @Model.Name : ""))
    </div>
    <div class="item">
        <span>Surname:</span>@Html.TextBox("surname", ((@Model != null) ? @Model.Surname : ""))
    </div>
    <div class="item">
        <span>Email:</span>@Html.TextBox("email", ((@Model != null) ? @Model.Email : ""))
    </div>
    <div class="item">
        <span>City:</span>@Html.TextBox("city", ((@Model != null) ? @Model.City : ""))
    </div>
    <div class="buttons">
        <input type="submit" value="Check in" class="button" />
    </div>

}