﻿@model WebUI.Models.Ausorization.LoginView
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authorization</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
{
    <div class="item">
        <span>Login:</span>@Html.TextBox("login", ((@Model != null) ? @Model.Login : ""))
    </div>
    <div class="item">
        <span>Password:</span>@Html.Password("password", "")
    </div>
    <div class="buttons">
        <input type="submit" value="Login" class="button" />
    </div>

        }
