﻿@model WebUI.Models.IdeasListViewModel
@using WebUI.Auth

@{
    ViewBag.Title = "IdeasList";
}

@{LoggedinAuthor currentAuthor = (LoggedinAuthor)ViewBag.Author;}

<h2>All ideas</h2>

    @foreach (var idea in Model.Ideas)
    {
        <div class="item">
            <div class="item-header clr">
                <div class="left">
                    <h3 class="left">@idea.Title </h3>
                    
                </div>
                @if (currentAuthor != null && idea.UserId == currentAuthor.UserId)
                {
                    <div >
                        @Html.ActionLink(" ",
                         "MoveIdeaToTrash",
                        "Ideas",
                        new { ideaId = idea.IdeaId },
                          new { @class = "right icon-close black red-on-hover" }
                        )
                    </div>
                }
                
            </div>
            <div>
                <p>@idea.Context</p>
                <span class="date">@idea.Date.ToString("hh:mm (dd MM yyyy)")</span>
                <div class="information">
                    
                    @Html.ActionLink(idea.Comments.Count + ((idea.Comments.Count == 1) ? " comment" : " comments"),
                    "IdeaPage",
                    "Ideas",
                    new { ideaId = idea.IdeaId },
                    null
                    )
                </div>
            </div>
            
        </div>
    }
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("IdeasList", new { page = x }))
</div>
