﻿@model Domain.Entities.Idea

@{
    ViewBag.Title = @Model.Title;
}

<h2>@Model.Title</h2>
<p>@Model.Context</p>
<p>by @Model.Author.Name @Model.Author.Surname</p>
<p>created @Model.Date.ToString("hh:mm (dd MM yyyy)")</p>
@foreach (var comment in Model.Comments)
{
    <div class="comment">
        <p>@comment.Context</p>
        @if (comment.Author != null) 
        {
            <p>by 
        @Html.ActionLink(comment.Author.Name + comment.Author.Surname,
                "UserPage",
                "User",
             new { userId = comment.UserId },
                null
                )
        </p>
        }
        <p>created @comment.Date.ToString("hh:mm (dd MM yyyy)")</p>
    </div>
    
}
