﻿@model Domain.Entities.Author

@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name @Model.Surname</h2>
<p>Email: @Model.Email<p>
<p>City: @Model.City<p>
