﻿* 
{
    margin:0;
    padding:0;
}

a 
{
    text-decoration: none;
}

p 
{
    margin-bottom: 7px;
    text-align:justify;
}
body
{
     font-family: Cambria, Georgia, "Times New Roman";
     background-color:#eaeaea;
}

.left 
{
    float: left;
}

.right 
{
    float: right;
}

.clr
{
    overflow: hidden;
}

.black 
{
    color:black;
}

.red-on-hover:hover {
  color: #e8421c;
}


div#header div.title, h2, div.item h3, div.item h4
{
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

h2 
{
    font-size: 3em;
    text-align:center;
}

div#header
{
    color: black;
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

div#header div.title
 {
     font-size: 2em;
     padding: .6em;
     float:left;
 }

div#header div.title a
{
    color:white;
}
div#header div.title a:hover, div.login a:hover
{
    color:white;
}
div.login 
{
    padding: .6em;
}

div.login a 
{
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    color: #808080;
}

div.login a:hover 
{
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    color:white;
}

div.login 
{
    float:right;
}



div#content
{
     background-color:white;
     padding: 1em;
     margin: 4em auto 0 auto;
     max-width: 700px;
     width: 80%;
     overflow:hidden;
}

div.item
{
     border-top: 1px dotted gray;
     padding-top: .7em;
     margin-bottom: .7em;
     overflow:hidden;
}

 div.item:first-child
 {
     border-top: none;
     padding-top: 0;
 }

 div.item h3
 {
     font-size: 1.3em;
     margin: 0 0 .25em 0;
 }
 div.item h4
 {
     font-size: 1.1em;
     margin: .4em 0 0 0;
 }

 div.information 
 {
     font-size: .8em;
     background-color:#eaeaea;
     overflow:hidden;
     margin-top: .5em;
 }
 div.item-header 
 {
     overflow:hidden;
 }

 div.item-header h3
 {      
     float:left;
 }
  div.item-header .date
 {      
     float:right;
     font-size: .8em;
 }

  div.information a
  {
      display:block;
      float: right;
      padding: .6em;
      background-color:black;
      color:white;
  }

  div.information a:hover
  {
      color: #808080;
  }


div.pager
{
     text-align: right;
     border-top: 1px solid black;
     padding: .5em 0 0 0;
     margin-top: 1em;
}
 div.pager a
 {
     font-size: 0.9em;
     color: black;     
     padding: 0 .4em 0 .4em;
 }
 div.pager a:hover
 {
    border-bottom: 1px solid black;
 }

 div.pager a.selected
 {
     background-color: black;
     color: white;
 }


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

div.buttons
{
    overflow:hidden;
    border-top: 1px dotted gray;
    padding-top: 0.5em;
}

input.button
{
    border:none;
}

.button
{
    display:block;
    font: normal 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    width:5em;
    text-align:center;
    margin:3px;
    padding:.5em;
    background-color:black;
    color:white;
    float:right;
}
.button:hover
{
    color: #808080;
}

form.login-form
{
    width: 20em;
    margin: 0 auto  0.7em auto;
}


form.login-form .item
{
    margin: 0.4em auto;
    padding: 0.4em;
    border: none;
}


form.login-form span
{
    float: left;
}
form.login-form input
{
    float: right;
}

