﻿body, td
{
     font-family: Segoe UI, Verdana;
}
body 
{
    background-color:#eaeaea;
}
* 
{
    margin:0;
    padding:0;
}

a 
{
    text-decoration: none;
}
h1 
{ 
    padding-top: 0; 
    font-weight: bold;
    font-size: 1.5em; 
    margin-bottom:.7em;
}

div#header div.title, div.item h3, div.item h4
{
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

div#header
{
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

div#header div.title
 {
    text-align: left;
     font-size: 2em;
     padding: .6em;
 }

div#header div.title a
{
    color:white;
}
div#header div.title a:hover, div.login a:hover
{
    color:white;
}

ul.horisontal-menu 
{
    float:right;
    width: 100%;
}

ul.horisontal-menu li 
{
    list-style:none;
    float: right;
    width: 8em;
}

div#content
{
     background-color:white;
     padding: 1em;
     margin: 7.25em auto 0 auto;
     max-width: 700px;
     width: 80%;
     overflow:hidden;
}

div.item
{
     border-top: 1px dotted gray;
     padding-top: .7em;
     margin-bottom: .7em;
}

 div.item:first-child
 {
     border-top: none;
     padding-top: 0;
 }

 div.item h3
 {
     font-size: 1.3em;
     margin: 0 0 .25em 0;
 }
 div.item h4
 {
     font-size: 1.1em;
     margin: .4em 0 0 0;
 }


a.tool 
{
    font-size: 0.8em;
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

a.tool:hover 
{
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.red-on-hover:hover {
  color: #e8421c;
}

.white {
    color: #f7f7f7;
}

.align-centr {
    width: 15px;
    display: block;
    margin: 0 auto;
}

.black-on-hover:hover {
  color: #000;
}

table.Grid td, table.Grid th 
{
     border-bottom: 1px dotted gray; 
     text-align:left; 

}
table.Grid 
{ 
    border-collapse: collapse;
    width:100%; 

}
table.Grid th.NumericCol, Table.Grid td.NumericCol 
{
     text-align: right; 
     padding-right: 1em;
}
div.Message 
{ 
    background: gray; 
    color:White; 
    padding: .2em; 
    margin-top:.25em; 
}
.field-validation-error 
{ 
    color: red; 
    display: block; 
}
.field-validation-valid 
{ 
    display: none; 
}
.input-validation-error 
{ 
    border: 1px solid red; 
    background-color: #ffeeee; 
}
.validation-summary-errors 
{ 
    font-weight: bold; 
    color: red; 
}
.validation-summary-valid 
{ 
    display: none; 
}

form.edit
{
    width:25em;
    margin:0 auto;
}
form.edit input[type = text]
{
    height:2em;
    line-height:2em;
    width:100%;
    margin-bottom: 7px;
}

form.edit textarea
{
    width:100%;
    height: 10em;
    margin-bottom: 7px;
}

textarea 
{
    resize:none;
}

div.buttons
{
    overflow:hidden;
    border-top: 1px dotted gray;
    padding-top: 0.5em;
}

input.button
{
    border:none;
}

.button
{
    display:block;
    font: normal 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    width:5em;
    text-align:center;
    margin:3px;
    padding:.5em;
    background-color:black;
    color:white;
    float:right;
}
.button:hover
{
    color: #808080;
}
