﻿@model WebUI.Models.CommentsListViewModel

@{
    ViewBag.Title = "Comments List";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>All Comments</h1>
<table class="Grid">
    <tr>
        <th>Idea Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Context</th>
        <th>Actions</th>
    </tr>
    @foreach (var comment in @Model.Comments)
    {
        <tr>
            <td>
                @Html.ActionLink(comment.Idea.Title,
             "EditIdea",
          "User",
          new { ideaId = comment.IdeaId },
                null
                )
            </td>
            <td>
                @Html.ActionLink(comment.Author.Name + comment.Author.Surname,
             "UserPage",
          "User",
          new { userId = comment.UserId },
                null
                )
            </td>
            <td>
                @comment.Date
            </td>
            <td>
                @comment.Context
            </td>
            <td>
                @Html.ActionLink(" ",
                        "DeleteComment",
                                  "User",
                        new { commentId = comment.CommentId },
                        new { @class = "tool icon-close white red-on-hover align-centr" }
                        )
            </td>
        </tr>
    }
</table>

