﻿@model IEnumerable<Domain.Entities.Comment>

@{
    ViewBag.Title = "CommentsPage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <h2>CommentsPage</h2>
    
    <table class="Grid">
        <tr>
            <th>
                Context
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>

        @foreach (var comment in Model)
        {
            <tr>
                <td>
                    @comment.Context
                </td>
                <td>
                    @comment.Date
                </td>
                <td>
                    @Html.ActionLink(@comment.Author.Name,
                "UserPage",
             "User",
             new { userId = comment.UserId },
                null
                )   
                </td>
                <td>
                    @Html.ActionLink(" ",
                    "DeliteComment",
                 "User",
                    new { commentId = comment.CommentId },
                    new { @class = "tool icon-close white red-on-hover align-centrclose" }
                    )
                </td>
            </tr>
        }

    </table>

