﻿@model Domain.Entities.Idea

@{
    ViewBag.Title = "Editor";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Edit @Model.Title</h1>
@using (Html.BeginForm("EditIdea", "User", FormMethod.Post, new {@class = "edit" }))
{
    @Html.EditorForModel()
    <div class="buttons">
        <input type="submit" value="Save" class="button" />    
        @Html.ActionLink("Cancel", "IdeasList", "User", null, new { @class = "button" })
    </div>
    
}

