﻿@model WebUI.Models.IdeasListViewModel
@{
    ViewBag.Title = "All Ideas";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@Html.ActionLink(" ",
                        "CreateIdea",
                                  "User",
                        null,
                        new { @class = "icon-plus button" }
                        )
    <h1>All Ideas</h1>
    <table class="Grid">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th >Comments</th>
            <th colspan="2">Actions</th>
        </tr>
        @foreach (var idea in Model.Ideas)
        {
            <tr>
                <td>@idea.Title</td>
                <td>@idea.Author.Name</td>
                <td>@idea.Date</td>
                <td>
                    @Html.ActionLink(idea.Comments.Count + ((idea.Comments.Count == 1) ? " comment" : " comments"),
             "CommentsList",
          "User",
             new { ideaId = idea.IdeaId },
                null
                )
                </td>
                <td>
                    @Html.ActionLink(" ",
                    "EditIdea",
                    "User",
                    new { ideaId = idea.IdeaId },
                    new { @class = "tool icon-pencil white black-on-hover align-centr" }
                    )
                </td>
                <td>
                        @Html.ActionLink( " ",
                        "MoveIdeaToTrash",
                                  "User",
                        new { ideaId = idea.IdeaId },
                        new { @class = "tool icon-close white red-on-hover align-centr" }
                        )
                </td>
            </tr>
        }
    </table>



