﻿@model WebUI.Models.IdeasListViewModel
@{
    ViewBag.Title = "Trash";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1>All Ideas</h1>
<table class="Grid">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Comments</th>
        <th colspan="2">Actions</th>
    </tr>
    @foreach (var idea in Model.Ideas)
    {
        <tr>
            <td>@idea.Title</td>
            <td>@idea.Author.Name</td>
            <td>@idea.Date</td>
            <td>
                @Html.ActionLink(idea.Comments.Count + ((idea.Comments.Count == 1) ? " comment" : " comments"),
             "CommentsList",
          "User",
             new { ideaId = idea.IdeaId },
                null
                )
            </td>
            <td>
                @Html.ActionLink(" ",
                 "GetIdeaFromTrash",
              "User",
                    new { ideaId = idea.IdeaId },
                    new { @class = "tool icon-arrow-up white black-on-hover align-centr" }
                    )
            </td>
            <td>
                @Html.ActionLink(" ",
                        "DeleteIdea",
                                  "User",
                        new { ideaId = idea.IdeaId },
                        new { @class = "tool icon-close white red-on-hover align-centr" }
                        )
            </td>
        </tr>
    }
</table>



