﻿@model Domain.Entities.Author

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <h2>@Model.Name @Model.Surname</h2>
<p>Email: @Model.Email<p>
<p>City: @Model.City<p>
