﻿@using WebUI.Auth

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons.css" type="text/css" rel="stylesheet" />

</head>
<body>
        <div id="header">
            <div class="title">
                @Html.ActionLink("IDEAS REPOSITORY", "IdeasList", "Ideas")
            </div>
            
            @{LoggedinAuthor currentAuthor = (LoggedinAuthor)ViewBag.Author;}
            @if (currentAuthor == null)
            {
                <div class="login">
                    @Html.ActionLink(" ",
                            "Login",
                                     "Account",
                            null,
                            new { @class = "icon-user", title = "Login"}
                            )
                </div>
                <div class="login">
                    @Html.ActionLink("Check In",
                            "CheckIn",
                                     "Account",
                            null,
                            new { title = "Check In" }
                            )
                </div>
            }
            else {
                <div class="login">
                    @Html.ActionLink(@currentAuthor.Name,
                                "UserPage",
                                         "Ideas",
                                 new { login = @currentAuthor.Login},
                                new { title = "Profile"}
                                )
                </div>
                <div class="login">
                    @Html.ActionLink("Log out",
                                "LogOut",
                                         "Account",
                                null,
                                new { title = "Log out" }
                                )
                </div>
            }
            
        </div >
        
    <div id="content">
        @RenderBody()
    </div>
    
</body>
</html>
