﻿@using WebUI.Auth

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/User.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/simple-line-icons.css" type="text/css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <div class="title">
        @Html.ActionLink("IDEAS REPOSITORY", "IdeasList", "User")
        </div>
        @{LoggedinAuthor currentAuthor = (LoggedinAuthor)ViewBag.Author;}
        @if (currentAuthor == null)
        {
            <div class="login">
                @Html.ActionLink(" ",
                            "Login",
                                     "Account",
                            null,
                            new { @class = "icon-user", title = "Login" }
                            )
            </div>
            <div class="login">
                @Html.ActionLink("Check In",
                            "CheckIn",
                                     "Account",
                            null,
                            new { title = "Check In" }
                            )
            </div>
        }
        else
        {
            <div class="login">
                @Html.ActionLink(@currentAuthor.Name,
                                "UserPage",
                                         "Ideas",
                                 new { login = @currentAuthor.Login },
                                new { title = "Profile" }
                                )
            </div>
            <div class="login">
                @Html.ActionLink("Log out",
                                "LogOut",
                                         "Account",
                                null,
                                new { title = "Log out" }
                                )
            </div>
        }
        <div >
            <ul class="horisontal-menu ">
                <li>
                    @Html.ActionLink(" ", "Trash", "User", new { @class = "button icon-trash" })
                </li>
                <li>
                    @Html.ActionLink("Ideas", "IdeasList", "User", new { @class = "button" })
                </li>
                <li>
                    @Html.ActionLink("Comments", "CommentsList", "User", new { @class = "button" })
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
